<app-navbar></app-navbar>
<section class="page-section bg-default">
  <div class="container">
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Posted By: </h3>
          </div>
          <div class="col-4 text-right">
            <button
              class="btn btn-warning"
              *ngIf="user"
            >
              Edit Post
            </button>
            <button class="btn btn-danger" *ngIf="user">
              Delete Post
            </button>
            <button
              class="btn btn-warning"
              *ngIf="!user"
            >
              Connect User
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <!-- <h1 class="card-title">Startup Name: {{post.StartupName}}</h1> -->
        <h3 class="card-text">Category: lalalala</h3>
        <h3 class="card-text">Content: lalalala</h3>
        <!-- <h3 class="card-text">Phone: {{post.phone}}</h3>
        <h3 class="card-text">Location: {{post.addressLine}}</h3> -->
        <h3 class="card-text">Description: alalala</h3>
      </div>
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Comments On this Post</h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="col-lg-6">
          <label class="form-control-label">commented by: username</label>
          <input
            type="text"
            readonly
            class="form-control form-control-alternative"
          />
        </div>
        <div class="col-lg-6">
          <label class="form-control-label">commented by: username</label>
          <input
            type="text"
            readonly
            class="form-control form-control-alternative"
          />
        </div>
        <div class="col-lg-6">
          <label class="form-control-label">commented by: username</label>
          <input
            type="text"
            readonly
            class="form-control form-control-alternative"
          />
        </div>
        <div class="col-lg-6">
          <label class="form-control-label">commented by: username</label>
          <input
            type="text"
            readonly
            class="form-control form-control-alternative"
          />
        </div>
        <div class="col-lg-6">
          <label class="form-control-label">commented by: username</label>
          <input
            type="text"
            readonly
            class="form-control form-control-alternative"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-default">
  <app-footer></app-footer>
</div>
