.btn-warning {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
  }
  .btn-warning:hover {
    color: #fff;
    background-color: #fec810;
    border-color: #fec503;
  }
  .btn-warning:focus, .btn-warning.focus {
    color: #fff;
    background-color: #fec810;
    border-color: #fec503;
    box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5);
  }
  .btn-warning.disabled, .btn-warning:disabled {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
  }
  .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #fec503;
    border-color: #f3bd01;
  }
  .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus, .show > .btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 216, 84, 0.5);
  }