<app-navbar></app-navbar>
<div class="bg-default">
  <section class="page-section">
    <div class="container">
      <div class="text-center">
        <div class="row">
          <div class="col-sm">
            <p class="text-white text-left">
              Welcome to all startups's posts, here you can find all categories
              of our all start-ups.
            </p>
          </div>
          <div class="col-sm">
            <select class="form-control" (change)="filter($event.target.value)">
              <option value="0">Filter With Category</option>
              <option
                *ngFor="let summary of summaries"
                value="{{ summary._id }}"
              >
                {{ summary.name }}
              </option>
            </select>
          </div>
          <div class="col-sm">
            <form class="navbar-search navbar-search-dark form-inline">
              <div class="form-group" [ngClass]="{ focused: focus === true }">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="fas fa-search"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Search"
                    type="text"
                    (focus)="focus = true"
                    (blur)="focus = false; search($event.target.value)"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="postloaded==true">
        <div
          class="col-xl-4 col-lg-6"
          *ngFor="let post of posts"
        >
          <div class="card-group" *ngIf="post.category == ['Startup Form']">
            <div class="card">
              <img
                class="card-img-top"
                src="../../../assets/aboutus.jpg"
                alt="Card image cap"
              />
              <div class="card-body">
                <h1 class="card-title">{{ post.StartupName }}</h1>
                <h3 class="card-text">Post Target: {{ post.Posttype }}</h3>
                <h3 class="card-text">Category: {{ post.categoryId.name }}</h3>
                <h3 class="card-text">Phone Number: {{ post.phone }}</h3>
                <h3 class="card-text">
                  Facebook Page: {{ post.facebookpage }}
                </h3>
                <h3 class="card-text">Website Link: {{ post.websitelink }}</h3>
                <h3 class="card-text">Description: {{ post.description }}</h3>
                <h3 class="card-text">Location: {{ post.addressLine }}</h3>
          
                <button
                value="{{post._id}}"
                  class="btn btn-default text-center"
                  (click)="approve($event.target.value)"
                >
                  Approve Post
                </button>
                <button
                value="{{post._id}}"
                  class="btn btn-default text-center"
                  (click)=" DenyPost($event.target.value)"
                >
                  Deny Post
                </button>
              </div>
            </div>
          </div>
          <div class="card-group" *ngIf="post.category == ['Product Form']">
            <div class="card">
              <img
                class="card-img-top"
                src="../../../assets/aboutus.jpg"
                alt="Card image cap"
              />
              <div class="card-body">
                <h1 class="card-title">{{ post.StartupName }}</h1>
                <h3 class="card-text">Product Name: {{ post.Productname }}</h3>
                <h3 class="card-text">Category: {{ post.categoryId.name }}</h3>
                <h3 class="card-text">Price: {{ post.Price }}</h3>
                <h3 class="card-text">Phone Number: {{ post.phone }}</h3>
                <h3 class="card-text">
                  Facebook Page: {{ post.facebookpage }}
                </h3>
                <h3 class="card-text">Website Link: {{ post.websitelink }}</h3>
                <h3 class="card-text">Description: {{ post.description }}</h3>
                <h3 class="card-text">Location: {{ post.addressLine }}</h3>

                <button
                value="{{post._id}}"
                  class="btn btn-default text-center"
                  (click)="approve($event.target.value)"
                >
                  Approve Post
                </button>
                <button
                value="{{post._id}}"
                  class="btn btn-default text-center"
                  (click)=" DenyPost($event.target.value)"
                >
                  Deny Post
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="bg-default">
  <app-footer></app-footer>
</div>
