<!--header for page & welcome message-->
<div class="header bg-sucess py-2 py-lg-2">
  <div class="container">
    <div class="header-body text-right mb-2">
      <div class="row justify-content-center">
        <p class="text-lead text-light">
          hi from home page this is will be a brief about posts and serach
          bottom  jlkjkdljfldkfjdlkfjdkjflkdsjflksdjf
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->

<!--post card-->
<div class="container-fluid mt--4">
  <div class="row">
    <div class="col-xl-3 col-lg-6">
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <img
              class="card-img-top"
              src="../../../assets/img/register.svg"
              alt="Card image cap"
            />
            <h1 class="card-title">startup 1 :</h1>
            <p class="card-text">StartUp Name</p>
            <p class="card-text">Category:</p>
            <p class="card-text">Location:</p>
            <p class="card-text">Details:</p>
          </div>
          <a class="btn text-center text-blue"
            > <i class="fas fa-eye"></i>See full Details 
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
