<app-navbar></app-navbar>
<div class="bg-default">
  <div
    class="container"
    id="container"
    [ngClass]="{ 'sign-up-mode': activeClass }"
  >
    <!--form container -->

    <div class="forms-container">
      <div class="signin-signup">
        <!--sign in form and validation -->

        <form
          [formGroup]="loginForm"
          class="sign-in-form"
          (ngSubmit)="onlogin()"
        >
          <h2 class="title">Sign in</h2>
          <div class="row">
            <div class="col-md-12">
              <label class="form-control-label">Email</label>
              <div class="form-group">
                <input
                  type="email"
                  id="input-email"
                  formControlName="email"
                  name="email"
                  class="form-control"
                  placeholder="AwosomeUser@gmail.com"
                  [ngClass]="{
                    'is-invalid':
                      (f.email.touched || f.email.dirty) && !f.email.valid
                  }"
                />
                <div
                  *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
                  class="alert text-white animated shake"
                >
                  <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <label class="form-control-label">Password</label>
              <div class="form-group">
                <input
                  type="password"
                  id="input-password"
                  formControlName="password"
                  name="Password"
                  class="form-control"
                  placeholder="Password"
                  [ngClass]="{
                    'is-invalid':
                      (f.password.touched || f.password.dirty) &&
                      !f.password.valid
                  }"
                />
                <div
                  *ngIf="
                    f.password.invalid &&
                    (f.password.dirty || f.password.touched)
                  "
                  class="alert text-white animated shake"
                >
                  <div *ngIf="f.password.errors.required">
                    You have to enter the password
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <button (click)="onResetPassword()" class="btn btn-default">
                <small>Forgot password?</small>
              </button>
            </div>
          </div>

          <button type="submit" class="btn btn-outline-secondary text-white">
            Sign in
          </button>
        </form>
        <form
          [formGroup]="registerFrom"
          class="sign-up-form"
          (ngSubmit)="onsignUp()"
        >
          <h2 class="title">Sign Up</h2>
          <div class="row">
            <div class="col-md-6">
              <label class="form-control-label">First Name</label>
              <div
                class="form-group"
                [ngClass]="{
                  'has-danger':
                    (myForm.firstName.touched || myForm.firstName.dirty) &&
                    !myForm.firstName.valid
                }"
              >
                <input
                  type="text"
                  id="input-firstname"
                  formControlName="firstName"
                  name="firstname"
                  class="form-control"
                  placeholder="Awosome"
                  [ngClass]="{
                    'is-invalid':
                      (myForm.firstName.touched || myForm.firstName.dirty) &&
                      !myForm.firstName.valid
                  }"
                />
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-control-label">Last Name</label>
              <div
                class="form-group"
                [ngClass]="{
                  'has-danger':
                    (myForm.lastName.touched || myForm.lastName.dirty) &&
                    !myForm.lastName.valid
                }"
              >
                <input
                  type="text"
                  id="input-lastname"
                  formControlName="lastName"
                  name="lastname"
                  class="form-control"
                  placeholder="User"
                  [ngClass]="{
                    'is-invalid':
                      (myForm.lastName.touched || myForm.lastName.dirty) &&
                      !myForm.lastName.valid
                  }"
                />
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-control-label">Email</label>
              <div
                class="form-group"
                [ngClass]="{
                  'has-danger':
                    (myForm.email.touched || myForm.email.dirty) &&
                    !myForm.email.valid
                }"
              >
                <input
                  type="email"
                  id="input-emaill"
                  formControlName="email"
                  name="email"
                  class="form-control"
                  placeholder="AwosomeUser@gmail.com"
                  [ngClass]="{
                    'is-invalid':
                      (myForm.email.touched || myForm.email.dirty) &&
                      !myForm.email.valid
                  }"
                />
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-control-label">Role</label>
              <div
                class="form-group"
                [ngClass]="{
                  'has-danger':
                    (myForm.role.touched || myForm.role.dirty) &&
                    !myForm.role.valid
                }"
              >
                <input
                  type="text"
                  id="input-Role"
                  formControlName="role"
                  name="Role"
                  class="form-control"
                  placeholder="Role"
                  [ngClass]="{
                    'is-invalid':
                      (myForm.role.touched || myForm.role.dirty) &&
                      !myForm.role.valid
                  }"
                />
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-control-label">Password</label>
              <div
                class="form-group"
                [ngClass]="{
                  'has-danger':
                    (myForm.password.touched || myForm.password.dirty) &&
                    !myForm.password.valid
                }"
              >
                <input
                  type="password"
                  id="input-Password"
                  formControlName="password"
                  name="Password"
                  class="form-control"
                  placeholder="Password"
                  [ngClass]="{
                    'is-invalid':
                      (myForm.password.touched || myForm.password.dirty) &&
                      !myForm.password.valid
                  }"
                />
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-control-label">Confirm Password</label>
              <div
                class="form-group"
                [ngClass]="{
                  'has-danger':
                    (myForm.confirm.touched || myForm.confirm.dirty) &&
                    !myForm.confirm.valid
                }"
              >
                <input
                  type="password"
                  id="input-confirmPassword"
                  formControlName="confirm"
                  name="confirmPassword"
                  class="form-control"
                  placeholder="Confirm Password"
                  [ngClass]="{
                    'is-invalid':
                      (myForm.confirm.touched || myForm.confirm.dirty) &&
                      !myForm.confirm.valid
                  }"
                />
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-outline-secondary text-white">
              Create Account
            </button>
          </div>
          <div class="col-md-12" *ngIf="showValidText">
            <label class="text-white">Check your mail and verfiy it</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="code"
                [ngModelOptions]="{ standalone: true }"
                placeholder="your code"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary text-white"
                  type="button"
                  (click)="onVerify()"
                >
                  code <i class="fas fa-paper-plane"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!--animation panels-->
      <div class="panel-container">
        <!--left panel to sign up form-->
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
              Ebda2ha for any startup that has to grow itself,Let's Get up and
              start it up together!
            </p>
            <button
              class="btn btn-warning"
              id="sign-up-btn"
              (click)="toggleClass()"
            >
              Sign up
            </button>
          </div>

          <img src="../../../assets/img/login.svg" class="image" alt="img-1" />
        </div>
        <!--right panel to sign in form-->
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
              Let's go on y a7la client f eldonia let's make agmad sho5l :"D
            </p>
            <button
              class="btn btn-warning"
              id="sign-in-btn"
              (click)="toggleClass()"
            >
              Sign in
            </button>
          </div>

          <img
            src="../../../assets/img/register.svg"
            class="image"
            alt="img-2"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-default">
  <app-footer></app-footer>
</div>
