
 
      

      <app-sidebar></app-sidebar>
      <div class="main-content">
        <!-- Top navbar -->
        <app-navbar></app-navbar>
        <!-- Pages -->
        <div class="bg-default">
            <section class="page-section ">
              <div class="container">
                <div class="text-center">
                    <p class="text-white">
                        Welcome to your posts here you can find all your posts and you can edit on them.
                      </p>
                 
                </div>
                <div class="row">
                  <div class="col-xl-3 col-lg-6">
                    <div class="card-group">
                      <div class="card">
                        <img
                          class="card-img-top"
                          src="../../../assets/aboutus.jpg"
                          alt="Card image cap"
                        />
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                          </p>
                        </div>
                        <a class="btn text-center btn-warning text-white"
                          >See full post <i class="fas fa-eye"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-6">
                    <div class="card-group">
                      <div class="card">
                        <img
                          class="card-img-top"
                          src="../../../assets/aboutus.jpg"
                          alt="Card image cap"
                        />
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                          </p>
                        </div>
                        <a class="btn text-center btn-warning text-white"
                          >See full post <i class="fas fa-eye"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-6">
                    <div class="card-group">
                      <div class="card">
                        <img
                          class="card-img-top"
                          src="../../../assets/aboutus.jpg"
                          alt="Card image cap"
                        />
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                          </p>
                        </div>
                        <a class="btn text-center btn-warning text-white"
                          >See full post <i class="fas fa-eye"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-6">
                    <div class="card-group">
                      <div class="card">
                        <img
                          class="card-img-top"
                          src="../../../assets/aboutus.jpg"
                          alt="Card image cap"
                        />
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                          </p>
                        </div>
                        <a class="btn text-center btn-warning text-white"
                          >See full post <i class="fas fa-eye"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
      <div class="bg-default">
          <app-footer></app-footer>
        </div>
      </div>

